<!DOCTYPE html>
<html>
<head>
  <title>Alex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="alex_balls.png" id="alex">

<%= yield %>

</body>
</html>
